<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <% include templates/header.ejs %>

    <h1><%= videodata.categoryName %></h1>
    <p>Welcome to the about page</p>
    <ul>
    	<%  videodata.categories.forEach(function(item){ %>
    	    <li><%= item.categoryName%></li>

    	<% }); %>
    </ul>
  </body>
</html>
